
#search-box-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
  }
  
  /* Style for the search box */
  #search-box {
    width: 100%;
    max-width: 400px; 
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f1f1f1;
    margin: 0 auto; 
  }
  
  #search-box:focus {
    outline: none;
    border-color: #4285f4;
    box-shadow: 0 0 5px #4285f4;
  }
  
  #analytics {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  #analytics pre {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  